.css-1nhlr6c {
    max-width: 70px !important;
}

.login .css-1nhlr6c{
    margin-right: 90vw;
    margin-bottom: 20px;
}

.css-4navy0:focus {
    border-color: transparent !important;
    box-shadow: none !important;
}

.lsHome .css-1nhlr6c {
    left: 10px;
    top: 10px !important;
}